body {
  background-color: #242424;
  overflow-x: hidden !important;
}

.homeContainer {
  min-height: 100vh;
  font-family: Bebas Neue;
}

.flexContainer {
  display: flex;
  flex-direction: column;
}

.titleContainer {
  display: flex;
  flex-direction: column;
  gap: 0;
  align-items: center;
}

@media (min-width: 576px) {
  .flexContainer {
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    height: 85vh;
    padding: 0 10px;
  }
}

@media(min-width: 768px) {
  .flexContainer {
    padding: 0 30px;
  }

  .titleContainer {
    margin-bottom: 30px;
  }
}

@media (min-width: 992px) {
  .flexContainer {
    justify-content: space-between;
    padding: 0 59px;
  }
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: white;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

::-webkit-scrollbar-thumb {
  background: #242423;
  border-top-right-radius: 2px;
  border-top-left-radius: 2px;
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
}

::-webkit-scrollbar-thumb:hover {
  background: #505051;
}