.itemContainer {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    width: 327px;
    height: 172px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    box-shadow: 0 -20px 30px 5px #242424 inset;
    border-radius: 4px;
    
}

.items {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 100%;
}

.play {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 130px;
    width: 100%;
}

.play img {
    position: relative;
    top: 13px;
}

.title {
    display: inline-block;
    height: 60px;
    width: 100%;
    color: white;
    font-weight: 400;
    margin: 0;
    text-align: center;
    letter-spacing: 4px;
    font-size: 16px;
    max-width: 320px;
    line-height: 100%;
    height: fit-content;
}

.hoverBg {
    width: 340px;
    height: 200px;
    background-color: #0000009e;
    color: white;
    font-weight: 400;
    border-radius: 4px;
}

.playHover {
    position: relative;
    top: 80px;
    left: 24px;
    width: 27px;
    height: 27px;
    border-radius: 50%;
    background-image: url(../../assets/play-hover-off.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.playHover:hover {
    background-image: url(../../assets/play-hover.svg);
}

.titleHover {
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    top: 39px;
    left: 65px;
    height: 55px;
    letter-spacing: 4px;
    font-size: 16px;
    max-width: 250px;
    line-height: 100%;
}

.vote {
    position: relative;
    display: inline-block;
    gap: 5px;
    top: 50px;
    left: 24px;
    font-size: 15px;
    letter-spacing: 4px;
    width: fit-content;
    margin: 0;
}

.date {
    display: inline-block;
    margin: 0;
    position: relative;
    font-size: 15px;
    top: 50px;
    left: 240px;
    width: fit-content;
}

@media (min-width :576px) {
    .itemContainer {
        width: 241px;
        height: 135px;
    }

    .play {
        height: 100px;
    }

    .title {
        max-width: 200px;
        height: 50px;
    }

    .hoverBg {
        width: 220px;
        height: 146px;
        margin: 0;
        padding: 0;
    }

    .playHover {
        top: 71px;
    }

    .titleHover {
        top: 30px;
        max-width: 140px;
    }
    .vote{
        top: 32px;
    }
    .date{
        top: 32px;
        left: 140px;
    }
}